{% extends "global/layout.html" %}

{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block title %}{{ artwork_year.year }} - {{ artwork_year.cover_title }}{% endblock %}

{% block body %}artworkDetail{% endblock %}

{% block content %}
    {% if artwork_year.is_active %}
        <!--//start: year: {{ artwork_year.year }} //-->
        <div class="homepage__year" data-work-year="{{ artwork_year.year }}" data-work-title="{{ artwork_year.cover_title }}">
            <section class="homepage__hero">
                <div class="container">
                    <div class="homepage__hero-wrapper">
                        <div class="homepage__hero-visual homepage__hero-visual--wideLandscape" 
                        data-alt="{{ artwork_year.cover_title }}" data-hero-image="{% cloudinary_url artwork_year.cover_image GENERAL_IMAGES %}">
                            <img alt="{{ artwork_year.cover_title }}" src="{% cloudinary_url artwork_year.cover_image GENERAL_IMAGES %}" />
                        </div>
                        <div class="homepage__hero-TitleContainer">
                            <div class="homepage__title">
                                <h2 class="title title--headline"><span class="u-block">{{ artwork_year.year }}</span></h2>
                            </div>
                        </div>
                        <div class="homepage__hero-TitleContainer-bottom homepage__hero-TitleContainer-bottom--block">
                            <div class="homepage__hero-TitleContainer-bottom__inner home__headerIntroContainer">
                                <p class="title title--medium">{{ artwork_year.cover_title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          
            <section class="homepage__workContainer">
                <div class="container">
                    <div class="homepage__workContent">  
                        <div class="homepage__workGrid">
                            <!--//start: work grid items: first half of artworks//-->
                            <div class="homepage__workGrid-col col-1">
                                {% for artwork in artworks_left %} 
                                    {% include "artwork/partials/artwork-item.html" %}
                                {% endfor %}
                            </div> <!--//end: work grid items: first half of artworks//-->

                            <!--//start: work grid items: second half of artworks//-->
                            <div class="homepage__workGrid-col col-2">
                                {% for artwork in artworks_right %} 
                                    {% include "artwork/partials/artwork-item.html" %}
                                {% endfor %}
                            </div> <!--//end: work grid items: second half of artworks//-->
                        </div>
                    </div>
                </div>
            </section>
            <div class="index-menu">
                <div class="index-menu-main">
                    <div class="index-menu-cover">
                        <div class="index-menu-container">
                            <ul class="index-menu-list">
                                {% for artwork_year in artwork_year_list %}
                                    <li class="index-menu-year">
                                        <a class="tamar-pageTransition" href="{% url 'artworks:artwork_detail' artwork_year.slug %}">
                                            {{ artwork_year.year }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--//end: year: {{  artwork_year.year }} //-->
    {% endif %}
    
{% endblock %}
