{% load i18n %}
{% load staticfiles %}

<div class="menu about-menu">
	<section class="about-menu__intro">
    	<div class="about-menu__intro-img-box">
        	<div class="about-menu__intro-img-main lg">
            	<div class="about-menu__intro-img-cover">
            		<img src="{% static 'dist/img/tamar-halpern-bio.jpg' %}">
            	</div>
        	</div>
    	</div>
    	<div class="about-menu__intro-desc">
	        <div class="about-menu__intro-desc-info">
	            <p>Born <span>1977</span> in Los Angeles, CA.</p>
	            <p>Lives and works between Brooklyn, NY + Marfa, TX.</p>
	        </div>
	   
	        <div class="about-menu__intro-desc-bio">
	        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	        </div>
    	</div>
	</section>

	<section class="about-menu__cv-list">
		<div class="about-menu__cv-title-cover">
			<h2>Solo Exhbitions</h2>
		</div>
	    
	    <div class="about-menu__cv-item">
	        <div class="about-menu__cv-item-img">
	            <div class="about-menu__cv-item-img-main">
	                <div class="c-img-slide-cover-inner">
						<svg viewBox="0 0 100 100">
							<rect x="0" y="0" height="100" width="400" fill="#ff4828" stroke-width="0"></rect>
							<polygon fill="#FFFFFF" points="0,0 0,10 190,180" stroke-width="0"></polygon>
						</svg>
	                </div>
	            </div>
	        </div>
	        <div class="about-menu__cv-item-info">
	            <h3 class="about-menu__cv-item-year">2018</h3>
	        	
	        	<h3 class="about-menu__cv-item-post">
	        		<div class="u-pc-view">Alpha Flight IV Curated by John Connelly Sam Anderson, Jeronimo Elespe, Tamar Halpern, Marfa, TX</div>
	        		<div class="u-sp-view">Alpha Flight IV Curated by John Connelly Sam Anderson, Jeronimo Elespe, Tamar Halpern, Marfa, TX</div>
	        	</h3>
	        </div>
	    </div>

	    <div class="about-menu__cv-item">
	        <div class="about-menu__cv-item-img">
	            <div class="about-menu__cv-item-img-main">
	                <div class="c-img-slide-cover-inner">
	                	<svg viewBox="0 0 100 100">
							<rect x="0" y="0" height="100" width="400" fill="#ff4828" stroke-width="0"></rect>
							<polygon fill="#FFFFFF" points="0,0 0,10 190,180" stroke-width="0"></polygon>
						</svg>
	                </div>
	            </div>
	        </div>
	        <div class="about-menu__cv-item-info">
	            <h3 class="about-menu__cv-item-year">2017</h3>
	        	
	        	<h3 class="about-menu__cv-item-post">
	        		<div class="u-pc-view">Fleurs du Mal, Harper's Books, East Hampton, NY </div>
	        		<div class="u-sp-view">Fleurs du Mal, Harper's Books, East Hampton, NY </div>
	        	</h3>
	        </div>
	    </div> 
	</section>

	<section class="about-menu__cv-list">
		<div class="about-menu__cv-title-cover">
			<h2>Galleries</h2>
		</div>
	    
	    <div class="about-menu__cv-item">
	        <div class="about-menu__cv-item-img">
	            <div class="about-menu__cv-item-img-main">
	                <div class="c-img-slide-cover-inner">
						<svg viewBox="0 0 100 100">
							<rect x="0" y="0" height="100" width="400" fill="#ff4828" stroke-width="0"></rect>
							<polygon fill="#FFFFFF" points="0,0 0,10 190,180" stroke-width="0"></polygon>
						</svg>
	                </div>
	            </div>
	        </div>
	        <div class="about-menu__cv-item-info">
	            <h3 class="about-menu__cv-item-year">Mier Gallery</h3>
	        	
	        	<h3 class="about-menu__cv-item-post">
	        		<div class="u-pc-view">Los Angeles, CA, USA</div>
	        		<div class="u-sp-view">Los Angeles, CA, USA</div>
	        	</h3>
	        </div>
	    </div>
	</section>
</div>