{% load i18n %}

<section class="big-year-list">
    <div class="year-wrap">
        <div class="container">
            <ul class="year-listing">
                <li>
                    <a href="#">2018</a>
                </li>
                <li>
                    <a href="#">2017</a>
                </li>
                <li>
                    <a href="#">2016</a>
                </li>
                <li>
                    <a href="#">2015</a>
                </li>
                <li>
                    <a href="/work/?year=2014">2014</a>
                </li>
                <li>
                    <a href="#">2013</a>
                </li>
                <li>
                    <a href="#">2012</a>
                </li>
           
                <li>
                    <a href="#">2011</a>
                </li>
                <li>
                    <a href="#">2010</a>
                </li>
                <li>
                    <a href="#">2009</a>
                </li>
                <li>
                    <a href="#">2008</a>
                </li>
                <li>
                    <a href="#">2007</a>
                </li>
            </ul>
        </div>
    </div>
</section>