{% load i18n %}

<header class="header">
    <div class="header__wrapper">
        <div class="header__col">
            <a class="header__link || header__logo || header__logo--name" href="/">Tamar Halpern<span class="period">.</span></a>
            
            <a class="header__link || header__logo || header__logo--contact" href="mailto:tamarhalpern@me.com">Contact</a>
            
            <span class="u-block || header__link || header__logo || header__logo--index">Index</span>
        </div>
        <div class="header__col">
            <a id="about-menu-trigger" class="header__link || header__about-menu" href="javascript:void(0);">
                <span class="u-block || header__about-menu--aboutText">About</span>
                <span class="u-block || header__about-menu--artworkText">Artwork</span>
            </a>
        </div>
    </div>
</header>