{% load i18n %}

<div id="index-menu-trigger" class="index-menu-button">
	<span class="tline"></span>
	<span class="mline"></span>
	<span class="bline"></span>
</div>

<div class="menu index-menu">
	<div class="index-menu-main">
		<div class="index-menu-cover">
			<div class="index-menu-container">
				<ul class="index-menu-list">
					<li class="index-menu-year">
						<a href="javascript:void(0);" data-index-year="2018">2018</a>
					</li>
					<li class="index-menu-year">
						<a href="javascript:void(0);" data-index-year="2017" >2017</a>
					</li>
					<li class="index-menu-year">
						<a href="javascript:void(0);" data-index-year="2016">2016</a>
					</li>
					<li class="index-menu-year">
						<a href="javascript:void(0);">2015</a>
					</li>
					<li class="index-menu-year">
						<a href="javascript:void(0);">2014</a>
					</li>
					<li class="index-menu-year">
						<a href="javascript:void(0);">2013</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>