

<div id="index-menu-trigger" class="index-menu-button">
	<!-- <button id="index-menu-trigger" title="Menu">
		<span class="u-block">i</span>
	</button> -->
</div>

<div class="menu index-menu">
	<div class="index-menu-main">
		<div class="index-menu-cover">
			<div class="index-menu-container">
				<ul class="index-menu-list">
					<li class="index-menu-year">
						<a href="#" class="index-menu-link--active">2018</a>
					</li>
					<li class="index-menu-year">
						<a class="link-hover" href="#">2017</a>
					</li>
					<li class="index-menu-year">
						<a href="#">2016</a>
					</li>
					<li class="index-menu-year">
						<a href="#">2015</a>
					</li>
					<li class="index-menu-year">
						<a href="#">2014</a>
					</li>
					<li class="index-menu-year">
						<a href="#">2013</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>