{% load i18n %}
{% load staticfiles %}

<div class="menu about-menu">
	<section class="about-menu__intro">
    	<div class="about-menu__intro-img-box">
        	<div class="about-menu__intro-img-main lg">
            	<div class="about-menu__intro-img-cover c-mask">
            		<img src="{% static 'dist/img/tamar-halpern-bio.jpg' %}">
            	</div>
        	</div>
    	</div>
    	<div class="about-menu__intro-desc">
	        <div class="about-menu__intro-desc-info">
	            <p class="desc-info-1">{% trans 'Born 1977 in Los Angeles, CA.' %}</p>
	            <p class="desc-info-2">{% trans 'Lives and works between Brooklyn, NY + Marfa, TX.' %}</p>
	        </div>
	   
	        <div class="about-menu__intro-desc-bio">
	        	<p>{{ about_description }}</p>
	        </div>
    	</div>
	</section>

	{% for cv_obj in cv_list %}
		<section id="{{ cv_obj.category }}" class="about-menu__cv-list">
			<div class="about-menu__cv-title-cover">
				<h2>{{ cv_obj.category }}</h2>
			</div>
		    
		    {% for cv_detail_obj in cv_obj.categories.all %}
			    <div class="about-menu__cv-item">
			        <div class="about-menu__cv-item-img">
			            <div class="about-menu__cv-item-img-main">
			                <div class="c-img-slide-cover-inner">
								<svg viewBox="0 0 100 100">
									<rect x="0" y="0" height="100" width="400"></rect>
									<polygon points="0,0 0,0 0,0"></polygon>
								</svg>
			                </div>
			            </div>
			        </div>
			        <div class="about-menu__cv-item-info">
			            <h3 class="about-menu__cv-item-year">{{ cv_detail_obj.year }}</h3>
			        	
			        	<h3 class="about-menu__cv-item-post">
			        		<div class="u-pc-view">{{ cv_detail_obj.description }}</div>
			        		<div class="u-sp-view">{{ cv_detail_obj.description }}</div>
			        	</h3>
			        </div>
			    </div>
			{% endfor %}
		</section>
	{% endfor %}

	{% if galleries|length > 0 %}
		<section id="Galleries" class="about-menu__cv-list">
			<div class="about-menu__cv-title-cover">
				<h2>Galleries</h2>
			</div>
		    {% for gallery in galleries %}
			    <div class="about-menu__cv-item">
			        <div class="about-menu__cv-item-img">
			            <div class="about-menu__cv-item-img-main">
			                <div class="c-img-slide-cover-inner">
								<svg viewBox="0 0 100 100">
									<rect x="0" y="0" height="100" width="400"></rect>
									<polygon points="0,0 0,0 0,0"></polygon>
								</svg>
			                </div>
			            </div>
			        </div>
			        <div class="about-menu__cv-item-info">
			            <h3 class="about-menu__cv-item-year">{{ gallery.name }}</h3>
			        	
			        	<h3 class="about-menu__cv-item-post">
			        		<div class="u-pc-view">{{ gallery.location }}</div>
			        		<div class="u-sp-view">{{ gallery.location }}</div>
			        	</h3>
			        </div>
			    </div>
			{% endfor %}
		</section>
	{% endif %}

	{% if collections|length > 0 %}
		<section id="Collections" class="about-menu__cv-list">
			<div class="about-menu__cv-title-cover">
				<h2>Collections</h2>
			</div>
		    {% for collection in collections %}
			    <div class="about-menu__cv-item">
			        <div class="about-menu__cv-item-img">
			            <div class="about-menu__cv-item-img-main">
			                <div class="c-img-slide-cover-inner">
								<svg viewBox="0 0 100 100">
									<rect x="0" y="0" height="100" width="400"></rect>
									<polygon points="0,0 0,0 0,0"></polygon>
								</svg>
			                </div>
			            </div>
			        </div>
			        <div class="about-menu__cv-item-info">
			            <h3 class="about-menu__cv-item-year">{{ collection.name }}</h3>
			        </div>
			    </div>
			{% endfor %}
		</section>
	{% endif %}
</div>