{% load i18n %}
{% load staticfiles %}

<div class="menu about-menu">
	<section class="about-menu__intro">
    	<div class="about-menu__intro-img-box">
        	<div class="about-menu__intro-img-main lg">
            	<div class="about-menu__intro-img-cover c-mask">
            		{% if debug %}
            			<img src="{% static 'dist/img/tamar-halpern-bio.jpg' %}">
            		{% else %}
            			<img src="https://res.cloudinary.com/dcozrqiyb/image/upload/q_auto/v1540010062/tamar-halpern-bio.jpg">
            		{% endif %}
            	</div>
        	</div>
    	</div>
    	<div class="about-menu__intro-desc">
	        <div class="about-menu__intro-desc-info">
	            <p class="desc-info-1">{% trans 'Born 1979 in Los Angeles, CA.' %}</p>
	            <p class="desc-info-2">{% trans 'Lives and works between Brooklyn, NY + Marfa, TX.' %}</p>
	        </div>
	   
	        <div class="about-menu__intro-desc-bio">
	        	<p>{% if about_description %}{{ about_description }}{% endif %}</p>
	        </div>
    	</div>
	</section>

	{% for cv_obj in cv_list %}
		<section id="{{ cv_obj.get_category_display }}" class="page-section-list">
		    <div class="page-section-list-title">
		        {{ cv_obj.get_category_display }}
		    </div>
		    <ul class="table-list">
		    	{% for cv_detail_obj in cv_obj.categories.all %}
		    		{% ifchanged cv_detail_obj.year %}
				        <li class="table-list-item">
				        	<a class="tr">
					            <div class="td item-date">
					                {{ cv_detail_obj.year }}
					            </div>
					            <div class="td">	
					                <div class="item-content">
					                    {{ cv_detail_obj.description }}
					                </div>
					            </div>
				   			</a>
				        </li>
				    {% else %}
				    	<li class="table-list-item">
				        	<a class="tr">
					            <div class="td item-date-fixed"></div>
					            <div class="td">	
					                <div class="item-content">
					                    {{ cv_detail_obj.description }}
					                </div>
					            </div>
				   			</a>
				        </li>
				    {% endifchanged %}
		        {% endfor %}
		    </ul>
		</section>
	{% endfor %}

	{% if galleries|length > 0 %}
		<section id="Galleries" class="page-section-list">
		    <div class="page-section-list-title">
		        Galleries
		    </div>
		    <ul class="table-list">
		    	{% for gallery in galleries %}
			        <li class="table-list-item">
			        	<a class="tr">
				            <div class="td">
				            	<div class="item-title">
				            		{{ gallery.name }}
				            	</div>	
				                <div class="item-content">
				                    {{ gallery.location }}
				                </div>
				            </div>
			   			</a>
			        </li>
		        {% endfor %}
		    </ul>
		</section>
	{% endif %}

	{% if collections|length > 0 %}
		<section id="Collections" class="page-section-list">
		    <div class="page-section-list-title">
		        Collections
		    </div>
		    <ul class="table-list">
		    	{% for collection in collections %}
			        <li class="table-list-item">
			        	<a class="tr">
				            <div class="td">
				            	<div class="item-title">
				            		{{ collection.name }}
				            	</div>	
				            </div>
			   			</a>
			        </li>
		        {% endfor %}
		    </ul>
		</section>
	{% endif %}

	<section id="Collections" class="page-section-list">
	    <div class="page-section-list-title">
	        Contact
	    </div>
	    <ul class="table-list">
	    	{% if public_email %}
		        <li class="no-br table-list-item">
		        	<a class="tr" href="mailto:{{ public_email }}">
			            <div class="td">
			            	<div class="item-title">
			            		Email
			            	</div>
			            	<div class="item-content">
				                {{ public_email }}
				            </div>	
			            </div>
		   			</a>
		        </li>
	        {% endif %}
        	<li class="no-br table-list-item">
	        	<a class="tr" href="#">
		            <div class="td">
		            	<div class="item-title">
		            		Instagram
		            	</div>
		            	<div class="item-content">
			                @tamarhalpern
			            </div>	
		            </div>
	   			</a>
	        </li>
	    </ul>
	</section>
</div>