{% load i18n %}
{% load staticfiles %}

<div id="mainMenu" class="menu">
	<div class="menu__container">
	    <div class="menu__about-container">
	        <p class="menu__description">
	        	{% trans 'COSMIC TREASURES........................Rather than paint, I work with Ink & Light & Shadow ... tactile encounters with paper, silk, canvas, chemistry, technology, & glass................." at times you must recede in order to attack.”..........................' %}
	        </p>
	        <div class="menu__info-container">
	        	<p class="menu__info">
	        		{% trans 'Prologue' %} <a class="tamar-pageTransition" href="{% url 'about' %}">{% trans 'View More' %}</a>
	        		<br>
		            <br>
		            {% trans 'CV' %} <a class="tamar-pageTransition" href="{% url 'about' %}#CV">{% trans 'View More' %}</a>
		            <br>
		            <br>
		            {% if instagram_url %}
			            {% trans 'Instagram' %} <a href="{{ instagram_url }}" target="_blank">{% trans '@' %}{{ instagram_handle }}</a>
			            <br>
			            <br>
		            {% endif %}
		            {% if public_email %}
		            	{% trans 'Contact' %} <a href="mailto:{{ public_email }}">{{ public_email }}</a>
		            {% endif %}
		        </p>
	        </div>
	    </div>
	    <div class="index-list-grid">
	        <h1 class="index-list-grid__title">{% trans 'Index' %}</h1>
	        <div class="index-list-grid__list">
	        	{% for years in artwork_years %}
		            <div class="index-list-grid__list-item">
		                <a class="index-list-grid__link tamar-pageTransition" href="{% url 'artworks:artwork_detail' years.slug %}">{{ years.year }}</a>
		            </div>
		        {% endfor %} 
	        </div>
	    </div>
	</div>  
</div>