{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
    <head>
        <title>{% block head_title_base %} {{ site.name }} | {% trans 'New York City-Based Artist' %} {% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block meta_description %}Welcome to the official website of artist, Tamar Halpern. Tamar makes paintings but doesn't paint.....paintings, drawings, artist books.... work is alive, changing, breathing...magic.{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

        <meta name="device-size" content="set via css through font-family prop in order to be read by js">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block favicon %}
            <link rel="icon" href="{% static 'dist/img/200x200.png' %}" />
        {% endblock %}

        {# Block where global CSS will go. #}
        {% block styles %}{% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block social_meta_tags %}{% endblock %}
       
        <link rel="canonical" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site.domain }}/">
       
        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "partials/google_analytics.html" %}
        {% endblock %}

        <script src="{% static 'dist/js/vendors/modernizr-custom.min.js' %}"></script>
    </head>

    <body id="{% block body %}{% endblock %}">
        <div id="pointer"></div>
        <div id="page-progression"></div>
        
        <!--======== Page Loading ========-->
        <div class="preloader-wrap">
            <div class="preloader-elements">
                <div class="text">
                    <p class="pre-loadText">
                        <span class="u-block pre-loadText-word-1">Loading</span>
                        <span class="u-block pre-loadText-word-2">Artwork.</span>
                        <span id="progstat" class="u-block">0%</span>
                    </p>
                    <p class="years"></p>
                </div> 
            </div>
        </div>

        <!--======== Page Sweeper ========-->
        <div class="page-sweeper"></div>
   
        <!--======== Header ========-->
        {% include "partials/header.html" %}

        <!--======== Work ========-->
        {% block layout %}{% endblock %}

        {% block footer %}

        <!-- <footer class="footer">
            <div class="container">
                <div class="footer-content">
                    <p>If you mad it this far.... Please feel free to reach out...</p>
                    <p><a href="">email...</a></p>
                    <ul>
                        <li><a href=""><img src="https://toppaddockcafe.com/wp-content/themes/top_paddock/img/ig.svg" alt=""></a></li>
                        <li><a href=""><img src="https://toppaddockcafe.com/wp-content/themes/top_paddock/img/ig.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </footer> -->

        {% endblock %}

        <!--======== Menus ========-->
        {% include "partials/about_menu.html" %}

        <!-- <div class="contact">
            <a href="#">Contact</a>
        </div> -->

        <!--======== Scripts ========-->
        {% block scripts %}{% endblock %}
    </body>
</html>



