{% extends "global/layout.html" %}

{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}
{% load evenModulo %}

{% block body %}homepage{% endblock %}


{% block content %}
    {% for artwork_year in artwork_year_list %}
        {% if artwork_year.is_active %}
            <!--//start: year: {{ artwork_year.year }} //-->
            <div class="homepage__year" data-work-year="{{ artwork_year.year }}">
                <section class="homepage__hero">
                    <div class="container">
                        <div class="homepage__hero-wrapper">
                            <div class="homepage__hero-visual homepage__hero-visual--wideLandscape" 
                            data-alt="{{ artwork_year.cover_title }}" data-hero-image="{% cloudinary_url artwork_year.cover_image GENERAL_IMAGES %}">
                            </div>
                            <div class="homepage__hero-TitleContainer">
                                <div class="homepage__title">
                                    <h2 class="title title--headline"><span class="u-block">{{ artwork_year.year }}</span></h2>
                                </div>
                            </div>
                            <div class="homepage__hero-TitleContainer-bottom homepage__hero-TitleContainer-bottom--block">
                                <div class="homepage__hero-TitleContainer-bottom__inner home__headerIntroContainer">
                                    <p class="title title--medium">{{ artwork_year.cover_title }}</p>
                                </div>
                                <div class="col home__headerActions">
                                    <a href="{% url 'artworks:artwork_detail' artwork_year.slug  %}" class="cta">{% trans 'Discover' %} {{ artwork_year.year }}</a>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </section>
            </div> <!--//end: year: {{  artwork_year.year }} //-->
        {% endif %}
    {% endfor %}
{% endblock %}
         


