{% load i18n %}
{% load cloudinary %}

<!--//start: work grid item: {{ artwork.name }} //-->
<article class="homepage__workGrid-item {% if artwork.video %}homepage__workGrid-item--landscape{% endif %}">
    <figure>
        <div class="homepage__workGrid-img-container ">
        	{% if artwork.image and not artwork.video %}
            	<img alt="{{ artwork.name }}" src="{% cloudinary_url artwork.image %}">
            {% endif %}

            {% if artwork.video %}
            	<video id="videoPlayer" controls controlsList="nodownload"> 
                    <source src="{% cloudinary_url artwork.video %}#t=1" type="video/mp4">
                    <source src="{% cloudinary_url artwork.video %}#t=1" type="video/webm">
                    <source src="{% cloudinary_url artwork.video %}#t=1" type="video/ogg">
                   	<source src="{% cloudinary_url artwork.video %}#t=1" type="video/avi">
               	</video>
            {% endif %}
        </div>
        <figcaption>
            <h3>{{ artwork.name }}</h3>
            
            {% if artwork.show_name %}
                <p><small>{{ artwork.show_name }}</small></p>
            {% endif %}

            {% if artwork.location %}
                <p><small>{{ artwork.location }}</small></p>
            {% endif %}

            {% if artwork.material %}
                <p><small>{{ artwork.material }}</small></p>
            {% endif %}

            {% if artwork.dimensions %}
                <p><small>{{ artwork.dimensions }}</small></p>
            {% endif %}
        </figcaption>
    </figure>
</article> <!--//end: work grid item: {{ artwork.name }} //-->