/***********************

** Page Loading **

***********************************/
.page-sweeper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transform-origin: 100% 0;
    opacity:0;
    visibility: hidden;
    background-color: #ff4828
}

.preloader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: var(--main-color);
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.preloader-elements {
    position: absolute;
    width:100%;
    top: 50%;
    -webkit-transform: translate(0%,-50%);
            transform: translate(0%,-50%);
    margin: 0 auto;
    text-align: center;
    padding:20px;
}

.preloader-elements .text {
    font-family: 'NeutraFace2Web-DisplayTitling';
    overflow: hidden;
    margin-top: 20px;
}

.preloader-elements .text p {
    line-height: 1.5em;
    color: var(--main-background-color);
}

.preloader-elements .text .pre-loadText {
    font-size: 50px;
}


.preloader-elements .text .pre-loadText .pre-loadText-word-1 {
    color: #000000;
}


.preloader-elements .text .years {
    font-size: 9.0vw;
}

.preloader-elements .text .years span {
    position: absolute; 
    left: 0; 
    right: 0; 
    transform: translateY(-50%);
}
