#djDebugToolbarHandle {
    display: none !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****
** Fonts
***********/
@font-face {
    font-family: 'NeutraFace2Web-DisplayTitling';
    src: url("../../dist/webfonts/Neutra2Display-Titling.otf");
    src: url("../../dist/webfonts/Neutra2Display-Titling.otf") format("opentype");
    font-weight: 'normal';
    font-style: 'normal';
}

@font-face {
    font-family: 'NeutraFace2Web-TextDemi';
    src: url("../../dist/webfonts/Neutraface2Text-Demi.otf");
    src: url("../../dist/webfonts/Neutraface2Text-Demi.otf") format("opentype");
    font-weight: 'normal';
    font-style: 'normal';
}

@font-face {
    font-family: 'NeutraFace2Web-TextBook';
    src: url("../../dist/webfonts/Neutraface2Text-Book.otf");
    src: url("../../dist/webfonts/Neutraface2Text-Book.otf") format("opentype");
    font-weight: 'normal';
    font-style: 'normal';
}

/****
** Global Defaults
***********/
:root {
    --primary-orange-color:#ff4828;
    --secondary-light-grey-color:#fafafa;
}

meta[name="device-size"] {
    font-family: s;
}
@media (min-width: 768px) {
    meta[name="device-size"] {
        font-family: m;
    }
}
@media (min-width: 1024px) {
    meta[name="device-size"] {
        font-family: l;
    }
}
@media (min-width: 1280px) {
    meta[name="device-size"] {
        font-family: xl;
    }
}
@media (min-width: 1440px) {
    meta[name="device-size"] {
        font-family: xxl;
    }
}

* {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NeutraFace2Web-TextBook';
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  background: var(--secondary-light-grey-color);
}
a {
  display: inline-block;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
svg {
    width: 100px;
}
rect {
    fill:var(--primary-orange-color);
}
polygon {
    fill:#000000;
}
figcaption {
  margin-top: 12px;
  font-family: 'Neutraface2Text-Demi';
}
@media (min-width: 768px) {
  figcaption {
    margin-top: 20px;
  }
}
figcaption small {
  font-size: 11px;
  font-family: 'Neutraface2Text-Book';
}
figure img {
  display: block;
  width: 100%;
  height: auto;
}
hr {
  border: 0 none;
  border-top: 1px solid #f0f0f0;
  margin: 0;
}
img, video {
  display: block;
  margin: 0;
  max-width: 100%;
}

/****
** Global Classes
***********/
.u-block {
    display: block;
}

.no-link {
    cursor: none;
}

.cta {
  display: inline-block;
  padding: 17px 32px;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid #232323;
  font-family: 'NeutraFace2Web-TextDemi';
  background: transparent;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 201% 100%;
  background-position: 100% 0, 100% 0;
  transition: background-position 250ms cubic-bezier(0.19, 1, 0.22, 1), color 250ms cubic-bezier(0.19, 1, 0.22, 1), border-color 250ms cubic-bezier(0.19, 1, 0.22, 1);
  background-clip: border-box;
  -webkit-background-clip: border-box;
  text-align: center;
  border-color: #232323;
  background-image: linear-gradient(to right, #232323 50%, transparent 50%);
  color: #232323;
}
html.webkit .cta:not(button) {
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text, border-box;
  -webkit-background-clip: text, border-box;
}
html.webkit .cta:not(button) {
  background-image: linear-gradient(to right, #fff 50%, #232323 50%), linear-gradient(to right, #232323 50%, transparent 50%);
}
.cta:focus,
.cta:hover {
  color: #fff !important;
}
.cta:focus {
  background-position: 50% 0, 50% 0;
}
.cta:hover {
  background-position: 0% 0, 0% 0;
}

.disable-scroll{
    overflow: hidden;
}


#pointer{
    position:fixed;
    top:0;
    left:0;
    height:20px;
    width:20px;
    margin-top:-10px;
    margin-left:-10px;
    background-color: var(--primary-orange-color);
    border-radius:50%;
    z-index: 9998;
    pointer-events:none;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    transition: all 0.15s ease-out;
}

#pointer.hover--black {
    height:60px !important;
    height: 20px;
    width:60px !important;
    margin-top:-30px !important;
    margin-left:-30px !important;
    background:rgba(0,0,0,0.3) !important;
}

#pointer.hover--orangeRed {
    height:60px !important;
    width:60px !important;
    margin-top:-30px !important;
    margin-left:-30px !important;
    border:1px solid var(--primary-orange-color);
    background-color:rgba(250, 250, 250, 0.3) !important;
/*     background-color:rgb(255,72,40, 0.3) !important; */
}

/*#page-progression {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 4px;
    z-index: 5;
}*/

#main {
    width: 100%;
    height: 100%;
    margin-top:120px;
}

@media (min-width: 1024px) {
    #main {
        margin-top:35px;
    }
}

.container {
    margin: 0 auto;
}

@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
}
@media (min-width: 768px) {
    .container {
        padding: 0 32px;
        max-width: 1184px;
    }
}

.title {
    font-family: 'NeutraFace2Web-DisplayTitling';
    line-height: 1em;
    font-size: 36px;
    color: var(--primary-orange-color);
}
@media (min-width: 768px) {
    .title {
        font-size: 64px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 35px;
    }
}

.title--headline {
    font-size: 64px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .title--headline {
        font-size: 128px;
    }
}


.title--medium {
    font-size: 24px;
}

@media (min-width: 768px) {
    .title--medium {
        font-size: 48px;
    }
}


/****
** Menu
***********/
#mainMenuTrigger {
    position: fixed;
    top: 1.33333rem;
    right: 2.33333rem;
    width: 2.5rem;
    height: 2.5rem;
    /*padding: 18px 10px;
    margin: -18px -10px;*/
    display: block;
    cursor:pointer;
    z-index: 9999;
}

#mainMenuTrigger span {
    height: 2px;
    display: block;
    position: absolute;
    background-color: #000000;
    right: 0;
    width: 100%;
    overflow:hidden;
    margin-bottom:4px;
}

#mainMenuTrigger .tline{
    top:20%;
}

#mainMenuTrigger .mline{
    background-color: var(--primary-orange-color);
    top: 50%;
    width:65%;
}

#mainMenuTrigger .bline{
    top: 80%;
}

.menu {
    background: var(--primary-orange-color);
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    top: 0px;
    overflow-y: auto;
    z-index: 998;
}

.menu__container {
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; 
}

@media all and (min-width: 1005px) {
  .menu__container {
    overflow: hidden;
    padding: 0;
    width: 950px;
    height: 375px; 
    margin-top: 196.5px;
    } 
}
   
@media all and (min-width: 1105px) {
    .menu__container {
        width: 1050px; 
    } 
}

.menu__about-container {
    width: 100%;
    position: relative;
    margin-bottom: 80px; 
}

@media all and (min-width: 1005px) {
    .menu__about-container {
        width: 340px;
        height: 346px;
        float: left;
        margin-bottom: 0; 
    }
}

@media all and (min-width: 1105px) {
    .menu__about-container {
        width: 380px; 
    }
}
  
.menu__title {
    font-size: 21px;
    line-height: 1em;
    font-weight: 400;
    margin: 0 0 40px 0;
    padding: 0; 
}

.menu__description {
    font-family:'NeutraFace2Web-TextBook';
    margin: 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.12em;
    color:var(--secondary-light-grey-color);
}
    
@media all and (min-width: 1105px) {
    .menu__description {
        font-size: 23px; 
    } 
}

.menu__info-container {
    width: 100%;
    margin-top: 50px; 
}
    
@media all and (min-width: 1005px) {
    .menu__info-container {
        margin-top: 0;
        position: absolute;
        bottom: 0;
    } 
}
  
.menu__info {
    font-size:1rem;
    line-height: .95em;
    margin-bottom: 8px;
    color:var(--secondary-light-grey-color);
}

.menu__info a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: border-color .15s linear; 
}

.menu__info a:hover {
    border-color: transparent; 
}

@media all and (min-width: 1005px) {
    .index-list-grid {
        width: 570px;
        height: 375px;
        float: right; 
    } 
}

.index-list-grid {
  color: var(--secondary-light-grey-color);
}

.index-list-grid__title {
    text-align: left;
    font-size: 21px;
    line-height: 1em;
    font-weight: 400;
    margin: 0 0 40px 0;
    padding: 0; 
}

.index-list-grid__list-item {
  width: 50%;
  height: 33px;
  float: left;
  font-size: 14px; 
}

@media all and (min-width: 560px) {
    .index-list-grid__list-item {
        width: 33%; 
    } 
}

.index-list-grid__link {
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid ;
    transition: border-color .15s linear; 
}

.index-list-grid__link:hover {
    border-color: transparent; 
}
  
@media all and (min-width: 375px) {
    .index-list-grid__link {
        font-size: 1.2rem; 
    } 
}

/****
** Page Loading
***********/
.page-sweeper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transform-origin: 100% 0;
    opacity:0;
    visibility: hidden;
    background-color: #ff4828
}

.preloader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: var(--primary-orange-color);
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.preloader-elements {
    position: absolute;
    width:100%;
    top: 50%;
    -webkit-transform: translate(0%,-50%);
            transform: translate(0%,-50%);
    margin: 0 auto;
    text-align: center;
    padding:20px;
}

.preloader-elements .text {
    font-family: 'NeutraFace2Web-DisplayTitling';
    overflow: hidden;
    margin-top: 20px;
}

.preloader-elements .text p {
    line-height: 1.5em;
    color: var(--secondary-light-grey-color);
}

.preloader-elements .text .pre-loadText {
    font-size: 20vw;
}


.preloader-elements .text .pre-loadText .pre-loadText-word-1 {
    color: #000000;
}


.preloader-elements .text .years {
    font-size: 20vw;
}

.preloader-elements .text .years span {
    position: absolute; 
    left: 0; 
    right: 0; 
    transform: translateY(-50%);
}


/****
** Header
***********/
.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 auto;
}

@media screen and (max-width: 650px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.header__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 100% 0 0;
    position:relative;
}

.header__col {
    height: 100%;
    flex: 50% 0 0;
    display: flex;
    align-items: center;   
}

.header__col:last-child {
    justify-content: flex-end;
}

.header__link {
    font-family:'NeutraFace2Web-TextDemi';
    font-size:0.9rem;
    cursor:pointer;
}

.header__link .period {
    color: var(--primary-orange-color);
}

@media screen and (min-width:426px) {
    .header__link {
      font-size:1.5rem
    }
}


/****
** Artwork
***********/
.homepage__year {
    position: relative;
    margin:200px 0;
}

.homepage__year:first-child {
    margin-top:0px;
}

.homepage__year:last-child {
    margin-bottom: 100px;
}

.homepage__hero {
    position:relative;
    height:100%;
}

@media screen and (min-width: 800px) {
    .homepage__hero {
        padding-top: 6em;
    }
}

@media screen and (min-width: 768px) {
    .homepage__hero .container {
        max-width: 1050px;
    }
}

.homepage__hero-wrapper {
    position: relative;
    padding: 92px 0 0 0;
}

@media (max-width:425px) {
  .homepage__hero-wrapper {
      padding: 35px 0 0 0;
  }
}

@media (min-width: 768px) {
    .homepage__hero-wrapper {
        padding: 48px 0 0 0;
    }
}

.homepage__hero-visual {
    position: relative;
    padding-bottom: 100%;
}

.homepage__hero-visual--wideLandscape {
    padding-bottom: 70.555556%;
}

/*@media (min-width: 1024px) {
    .homepage__hero-visual--wideLandscape {
        padding-bottom: 44%;
    }
}*/

@media (max-width:768px) {
    .homepage__hero-visual--wideLandscape {
        padding-bottom:0;
    }
}

.homepage__hero-visual img,
.homepage__hero-visual canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width:768px) {
    .homepage__hero-visual img,
    .homepage__hero-visual canvas {
        position: relative;
    }
}


.homepage__hero-TitleContainer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.homepage__title {
    color: var(--primary-orange-color);
}

@media (min-width: 768px) {
    .homepage__hero-TitleContainer .title {
        -webkit-transform: translate(15px, -15px);
        transform: translate(15px, -15px);
    }
}

.homepage__hero-TitleContainer-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

@media (max-width: 767px) {
    .homepage__hero-TitleContainer-bottom--block{
        display: block;
    }
}

.homepage__hero-TitleContainer-bottom__inner {
    z-index: 2;
    padding: 0 48px 0 24px;
    margin-top: -13px;
}

@media (min-width: 1024px) {
    .homepage__hero-TitleContainer-bottom__inner {
        padding: 0 96px;
        max-width: 712px;
    }
}

@media (min-width: 768px) {
    .homepage__hero-TitleContainer-bottom__inner {
        padding: 0 48px;
        margin-top: -76px;
    }
}

@media (max-width: 767px) {
  .homepage__hero-discoverYear {
    text-align: center;
    margin-top: 42px;
  }
}

@media (min-width: 768px) {
  .homepage__hero-discoverYear {
    margin-top: 64px;
  }
}

.homepage__workContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 15em;
}

@media screen and (max-width:320px) {
    .homepage__workContainer {
        margin-top: 10em;
    }
}

.homepage__workContent {
    position: relative;
}

.homepage__workGrid {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.homepage__workGrid-col {
    flex: 0 1 50%;
    padding: 70px;
}

@media screen and (max-width:768px) {
  .homepage__workGrid-col {
      padding: 30px;
    }
}

@media screen and (max-width:425px) {
  .homepage__workGrid-col {
      padding: 0px;
      flex-basis:80%;
    }
}

.homepage__workGrid-col.col-2 {
    margin-top:25rem;
}

@media screen and (max-width:425px) {
    .homepage__workGrid-col.col-2  {
      margin-top:0rem;
    }
}


.homepage__workGrid-col.col-1 article {
    margin-top: 0rem;
    margin-bottom: 7rem;
}

.homepage__workGrid-col.col-2 article {
    margin-top: 0rem;
    margin-bottom: 17rem;
}

.homepage__workGrid-col.col-2 article:last-child {
    margin-bottom: 0rem;
}

@media screen and (max-width:425px) {
  .homepage__workGrid-col.col-2 > article {
    margin-bottom: 7rem;
  }
}

.homepage__workGrid-item {
    width: 100%;
    max-width: 500px;
}


.homepage__workGrid-img-container {
    position: relative;
    overflow: hidden;
}

.homepage__workGrid-img-container img,
.homepage__workGrid-img-container video {
    width: 100%;
    height: 100%;
}

.homepage__workGrid-img-container img.img-only {
    cursor: zoom-in;
}


.c-picture-viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: opacity 0s .8s;
}

.c-picture-viewer:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--secondary-light-grey-color);
    transform: translateY(100%);
    transition: transform .5s cubic-bezier(.47,0,.745,.715) .25s;
}

.c-picture-viewer.open {
    opacity: 1;
    transition: none;
}

.c-picture-viewer.open:before {
    transition: transform .5s cubic-bezier(.165,.84,.44,1) .2s;
    transform: translateY(0);
}

.c-picture-viewer_inner {
    width: 100%;
    height: 100%;
}

.c-picture-viewer_image {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
    
    opacity: 0;
    transform: translateY(10%);
    transform: scale(1.2);
    transform-origin: 50% 50%;
    transition: transform .5s, opacity .5s;
    transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

.c-picture-viewer.open .c-picture-viewer_image {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
    transition: transform .5s .5s, opacity .5s .5s;
    transition-timing-function: cubic-bezier(.165,.84,.44,1);
}


.c-picture-viewer__close-btn {
    height: 3.3rem;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 1.4rem;
    top: 2rem;
    transition: opacity .2s;
    width: 3rem;
    z-index: 2;
}

@media (min-width: 1024px) {
    .c-picture-viewer__close-btn {
        right: 4.8rem;
        top: 3.7rem;
    }
}

.c-picture-viewer.open .c-picture-viewer__close-btn {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0s;
}

.c-picture-viewer__close-btn span {
    display: block;
    height: .2rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    width: 3rem;
}

.c-picture-viewer__close-btn span:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.c-picture-viewer__close-btn span:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.c-picture-viewer.open .c-picture-viewer__close-btn span:after {
    transform: scaleX(1);
}

.c-picture-viewer.open .c-picture-viewer__close-btn span:first-child:after {
    transition: transform .5s cubic-bezier(.165,.84,.44,1) .7s;
}

.c-picture-viewer.open .c-picture-viewer__close-btn span:last-child:after {
    transition: transform .5s cubic-bezier(.165,.84,.44,1) .8s;
}

.c-picture-viewer__close-btn span:after {
    background-color: var(--primary-orange-color);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.c-picture-viewer__close-btn span:first-child:after {
    transform-origin: left;
    transition: transform .5s cubic-bezier(.47,0,.745,.715) 0s;
}

.c-picture-viewer__close-btn span:last-child:after {
    transform-origin: right;
    transition: transform .5s cubic-bezier(.47,0,.745,.715) .1s;
}

/*.homepage__workGrid-img-container video {
    width: auto;
    height:auto;
    height: 50vh;
}
*/
.index-menu-main {
    position:relative;
    height: 200px;
}

@media screen and (max-width:425px ) {
    .index-menu-main {
        height:100%;
    }
}

.index-menu-cover {
    position: relative;
    width: 100%;
    /*position: absolute;
    width:100%;
    top:50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);*/
}

@media screen and (max-width:425px ) {
    .index-menu-cover {
       position: static;
       -webkit-transform: translateY(0%);
               transform: translateY(0%);
       padding-top:20%
    }
}


.index-menu-container {
    max-width:1500px;
    margin: 0 auto;
    padding: 0 10vw; 
}

@media screen and (max-width:992px ) {
    .index-menu-container  {
       padding: 0 6vw;
    }
}

.index-menu-title {
    position: relative;
    text-align: center;
}

.index-menu-title h2 {
    font-family: 'NeutraFace2Web-TextDemi';
    font-size: 2.0vw
}

.index-menu-list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-flow: row wrap;
    max-width: 1500px;
    margin: 5vw auto;
    justify-content:space-evenly;
    align-items: center;
}

@media screen and (max-width:425px ) {
    .index-menu-list {
        flex-direction:column;  
    }
}

.index-menu-list li {
    width:20%;
    line-height:100px
}

@media screen and (max-width:425px ) {
    .index-menu-list li {
      width:100%;
      text-align:center;
    }
}

.index-menu-list li a {
    font-family:'NeutraFace2Web-TextDemi';
    font-size:6.5vw;
    color: var(--primary-orange-color);
}

.index-menu-link--active {
    color: var(--primary-orange-color);
    text-decoration: underline;
}

@media screen and (max-width:425px) {
    .index-menu-list li a {
        font-size:12.5vw;
    }
}


/****
** About section
***********/
.about-menu__intro {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    margin: 0 auto;
    position: relative;
    padding: 120px 100px 150px 70px;
}

@media (max-width: 1200px) {
    .about-menu__intro {
        padding: 120px 50px 20vw 70px;
    }
}
@media (max-width: 992px) {
    .about-menu__intro {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 120px 70px 0px;
    }
}
@media (max-width: 750px) {
    .about-menu__intro {
        flex-direction: column;
        padding: 0;
    }
}

.about-menu__intro-img-box {
    flex: 50;
    display: flex;
    flex-direction: column;
    z-index: 0;
    position: relative;
    padding-left: 120px;
}

@media (max-width: 1580px) {
    .about-menu__intro-img-box {
        padding-left: 8vw;
    }
}
@media (max-width: 1200px) {
    .about-menu__intro-img-box {
        padding-left: 0;
    }
}
@media (max-width: 992px) {
    .about-menu__intro-img-box {
        padding-left: 4vw;
    }
}

.about-menu__intro-img-main.lg {
    width: 550px;
}

.about-menu__intro-img-main {
    position: absolute;
    overflow: hidden;
    padding: 1px;
}


.about-menu__intro-img-cover {
    overflow: hidden;
}

/*#about .c-mask:after {
    content: "";
    position: absolute;
    left: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    top: -0.25rem;
    background-color: var(--secondary-light-grey-color);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    z-index: 3;
}*/

.about-menu__intro-img-main img {
    width: 100%;
}

@media (max-width: 1580px) {
    .about-menu__intro-img-main.lg {
        width: 35vw;
        margin: 50px 0 0 0;
    }
}

@media (max-width: 1200px) {
    .about-menu__intro-img-main.lg {
        width: 40vw;
    }
}

@media (max-width: 992px) {
    .about-menu__intro-img-main.lg {
        width: 48vw;
        right: 2vw;
        margin: 10px 0 0 -5vw;
    }
}

@media (max-width: 750px) {
    .about-menu__intro-img-main.lg {
        width: 65vw;
        left: 21vw;
        margin: 12vh auto 0;
    }
}

.about-menu__intro-desc {
    flex: 50;
    padding-top: 160px;
    position: relative;
}

.about-menu__intro-desc-info {
    -webkit-transform: translate3d(0, 34px, 0);
            transform: translate3d(0, 34px, 0);
}

@media (max-width: 1200px) {
    .about-menu__intro-desc {
        flex: 55;
    }
}

@media (max-width: 992px) {
    .about-menu__intro-desc {
        padding-top: 180px;
    }
}

@media (max-width: 750px) {
    .about-menu__intro-desc {
        padding-top: 49vw;
    }
}

.about-menu__intro-desc-info p {
    font-family: "NeutraFace2Web-DisplayTitling";
    font-size: 32px;
    letter-spacing: 3px; 
    color: var(--primary-orange-color);
    margin-left: -220px;
    margin-bottom: 10px;
    overflow: hidden; 
    line-height: 1em;
}

.about-menu__intro-desc-info p:first-child {
    margin-bottom: 30px;
}


@media (max-width: 1580px) {
    .about-menu__intro-desc-info p {
        margin-left: -200px;
    }
}

@media (max-width: 1200px) {
    .about-menu__intro-desc-info p {
        margin-left: -20vw;
    }
}

@media (max-width: 992px) {
    .about-menu__intro-desc-info p {
        margin-left: 0;
    }
}

@media (max-width: 750px) {
    .about-menu__intro-desc-info p {
        margin-left: 7vw;
    }
}

@media (max-width: 425px) {
   .about-menu__intro-desc-info p {
        font-size: 24px;
    } 
}

.about-menu__intro-desc-bio {
    max-width: 650px;
    margin-top: 37px;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 40px;
    font-family: 'NeutraFace2Web-TextBook';
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0);
}

@media (max-width: 1200px) {
    .about-menu__intro-desc-bio {
        line-height: 35px;
    }
}

@media (max-width: 992px) {
    .about-menu__intro-desc-bio {
        max-width: 100%;
        letter-spacing: 0em;
        line-height: 30px;
        margin-top: 38vw;
    }
}

@media (max-width: 750px) {
    .about-menu__intro-desc-bio{
        font-size: 14px;
        letter-spacing: 0em;
        line-height: 28px;
        padding: 0 7vw 20vw;
        margin-top: 20vw;
    }
}

/* CV Section */
.page-section-list {
    width: 100%; 
    margin: 120px auto -120px;
    padding: 43px 100px 50px;
}

@media (max-width: 425px) {
    .page-section-list {
        padding: 17vw 7vw;
    }
}

.page-section-list-title {
    font-family: "NeutraFace2Web-DisplayTitling";
    color: var(--primary-orange-color);
    font-size: 1.2rem;
}

.table-list {
    padding-left: 0;
    list-style: none;
    line-height: 1.5;
}

.no-br.table-list-item {
    border-bottom: none;
}

.table-list-item {
    border-bottom: 1px solid #ebebeb;
}

.table-list .tr {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
    margin-left: -16px;
    margin-right: -16px;
}

.table-list .td {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 100%;
    padding: 1.5rem 16px;
}

.table-list .item-date-fixed {
    width: 58.666667px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.table-list .item-date {
    font-family: "NeutraFace2Web-TextDemi";
}

.table-list .item-arrow, 
.table-list .item-date {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.item-title {
    font-family: "NeutraFace2Web-TextDemi";   
}

.table-list .item-content {
    opacity: .5;
    font-family:'NeutraFace2Web-TextBook';
}

.table-list .item-arrow {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.25rem;
}

svg:not(:root) {
    overflow: hidden;
}

.icon {
    display: inline-block;
    pointer-events: none;
    width: 1em;
    height: 1em;
    fill: var(--primary-orange-color);
}
